
.billing-body {
	@extend .main-body;	
	.members {
	    display: flex;
	    height: auto;
	    flex-direction: column;
	}

	.members-panel {
	    height: 100vh;
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	    flex-grow: 1;

	    .panel-body {
			/*height:100vh;	*/
	  		padding: 0;
  		    height: 100%;
	  		.list-group-item {
	  			border-right: 0;
	  			border-left: 0;
	  			border-radius: 0;
	  		}
	  	}
	}

	.form-header {
		font-size: 15px;
		/*background-color: $color-secondary;*/
		width: 100%;
		padding: 10px 5px;
	}
	.panel-heading {
		.badge {
			float: right;
			margin-right: 10px;
		}
	}
	.panel-body {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.billing-bar{
		font-weight: bold;
		font-size: 1.3em;
		padding: 10px 0;
		.col:first-child {
			text-align: left;
		}
		.col:last-child {
			text-align : right;
		}
		.col {
			text-align: center;
		}
		select {
			text-align: center;
			width: 110px;
		}

		/*background-color: $color-secondary;*/
	}

	.billing-filter {
		padding-left: 0;
		width: 100%;
		display: inline-flex;
		.control-label {
			padding: 5px 5px 5px 0;
		}
		input{
			position: relative;
			flex-grow: 1;
		}
	}
	
	.btn-group{
		padding-bottom: 20px !important;
	}

	.billing-details{
		.col:first-child{
			padding-left:0;
		}
		.col:last-child{
			padding-right: 0;
		}
		.col{
			padding:7.5px; 
		}
	}


} 