$color-primary:#ddd;
$color-secondary:#f5f5f5;

body {
	font-size: 12px;
	background-image: url("/assets/images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.form-control {
	font-size: 12px;
	height: 26px;
}

.form-group {
	padding-left: 10px;
}
.input-group {
	.input-group-addon {
		@extend .form-control;
		font-weight: bold;
	}
	.input-group-btn button{
		@extend .form-control;
		font-weight: bold;
		padding-top: 3px;
	}
}

.well {
	background: rgba(245, 245, 245, 0.70);
}

.panel {
	background: rgba(255,255,255,0.90);
}

.page-header {
	margin: 10px 0 20px;
}

select {
	padding: 0 5px;
    text-align: right
}

.control-label{
	margin-right: 5px;
}


@import 'login';
@import 'core';
@import 'billing';
