@import '_variable';
@import '_mixins';
@import '_spinner';


body {
	font-size: 12px;
	background-image: url("/assets/images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.form-control {
	font-size: 12px;
	height: 26px;
}

.form-group {
	padding-left: 10px;
}
.input-group {
	float: right;
	.input-group-addon {
		@extend .form-control;
		font-weight: bold;
	}
	.input-group-btn button{
		@extend .form-control;
		font-weight: bold;
		padding-top: 3px;
	}
}

.main {
	background: rgba(245, 245, 245, 0.70);
	top: 50px;
	padding-top: 0 !important;
}

.panel {
	background: rgba(255,255,255,0.90);
	.panel-body{
		background-color: white;
		&[disabled] {
		 /*pointer-events: none;*/
		 cursor: not-allowed;
		 td{
		 	pointer-events: none;
		 }
		}
	}
}

.page-header {
	margin: 10px 0 20px;
}

select {
	padding: 0 10px !important;
}

.control-label{
	margin-right: 5px;
}


.form-inline-group {
	width: 100%;
	margin: 5px 0;
	&:first-child{
		margin-top:0;
	}
	.form-group{
		width: 100%;
	}
	label {
		float:left;
		padding-top: 7px;	
	}
	input, .input-group , select, toggle, button, .btn, .icon{
		float: right !important;
	}
	.icon{
		padding-left: 5px;
	}
	.input-group input{
		&:last-child{
		margin-left: -47px;
		}
	}

	.table{
		padding: 10px;
		.row{
		padding: 2px 15px;
		} 
	}
	
	.input-group-text{
		@extend .input-group;
		border-radius:  5px !important;
		margin-left: 5px;
		p{
			padding-left: 5px;
		}
	}
}

input[type = "number"]{
	text-align: right;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex {
	display: flex;
}
.main-body{
	padding: 20px 20px 0 20px;
	
}

.selection-header{
	background-color: #fff;
	border: #ddd solid 1px;
    border-bottom: 0;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px;
    color: black;
}
.selection-body{
	background-color: #fff;
    padding: 5px;
    border: #ddd solid 1px;
    border-top: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 20vh;
    color: black;
    .filter{
    	position: fixed;
    }
    .selection-item{
    	background-color: white;
    	box-shadow: none;
    	border: 0;
    	flex:1;
    	width: 100%;
    	text-align: left;
    	border-radius: 3px;
    	&:hover{
    		background-color: #eee;
    	}
    	&:active{
    		background-color: #ddd;
    		border-color: #secondary;
    	}
    	&.selected{
    		background-color: $secondary;
    		color: white;
    	}
    	&:focus{
    		outline-color: $secondary;
    	}
    }
}

.navbar{
	background-color: $header;
	a{
	color: white !important;
	}
}

.billing-bar{
	@include primary();
	border-radius: 3px;
	box-shadow: 3px 3px 10px rgba(0,0,0,.26);
}

.panel-heading{
	@include primary();
	&[disabled="disabled"]{
		background-color:$inactive !important;
		cursor: not-allowed;
		pointer-events: none;
	}
}
.panel{
	box-shadow: 3px 3px 10px rgba(0,0,0,.26);
}

.btn[disabled="disabled"]{
	pointer-events: none;
}

.sidebar{
	background-color: white !important;
}

.nav-sidebar .active a{
	background-color: $primary  !important;
	color: white !important;
}

a.active{
	@include active();
}
tr.active{
	@include active();
	>td{
		background: none !important;
	}
}

.nav-sidebar a{
	color: $primary  !important;
}

input{
	outline-color:$secondary !important;
}
.uib-datepicker-popup{
	backface-visibility: blue;
	tbody{
		.btn{
			border: none;
			.text-info{
					color:white;
				}
			&.active{
				background-color: $primary;
				border-color: $primary;
				color:white;
				
			}
			&.btn-info{
				background-color: $secondary;
				border-color: $secondary;
				color:white;
				
			}
		}
	}
	.uib-button-bar {
		.btn{
			background-color: $primary;
			border-color: $primary;
			&:focus{
				outline-color: $primary;
			}
		}
		.btn-group{
			.btn:first-child{
				margin-right: 5px;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
			}
			.btn:last-child{
				margin-left: 5px;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}
		}
	}
}

.center-content{
	text-align: center;
}

.billing-bar{
	// margin: 10px 0;
	padding: 10px;
}
a[disabled="disabled"]{
	color:$inactive !important;
	cursor: not-allowed;
	pointer-events: none;
}

@import 'login';
@import 'core';
@import 'billing';
@import 'member';
@import 'fonts';
@import 'reports';
@import 'dashboard';
@import 'payment';

