.reports-body{
	@extend .main-body;
	.panel{
		.panel-body{
			min-height: 90vh;
		    background-color:#424242;
			padding:0;
			.page-control{
				width: 50px;
				color: black;
			}
		}
		.panel-heading{
			.row{
				padding-top: 5px;
				.well {
					margin-bottom: 0;
				}
				.btn {
					    float: right;
				}
			}
		}
	}
	iframe{
		width: 100%;
		min-height: 80vh;
	}
}

.pdf{
	overflow: scroll;
	height: 100vh;
    text-align: center;
}
.custom-toolbar{
	text-align: center;
	margin: 5px;
	label{
	    margin: 0 20px;
	    color: white;
	}
	a{
		margin: 0 2px;
	}
}
