<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="page-header">
        <h4>Water Billing</h4>
      </div>
      <ul class="nav nav-sidebar">
        <li ng-class="mode === 'view' ? 'active' : ''"><a ui-sref="main.viewBilling">Overview</a>
        </li>
        <li ng-class="mode === 'generate' ? 'active' : ''"><a ui-sref="main.generateBilling">Generate</a>
        </li>
        <li ng-class="mode === 'edit' ? 'active' : ''"><a ui-sref="main.editBilling">Edit Current</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="billing-body">

        <div class="row billing-bar">
          <form class="form-inline">
            <div class="col col-sm-8" ng-if="mode === 'view'">
              <div class="form-group">
                <label class="control-label">Year:</label>
                <select class="form-control" ng-options="item as item for item in billing.yearList" ng-model="billing.year" ng-click="billing.getPeriodByYear(billing.year)">
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">Month:</label>
                <select class="form-control" ng-options="item as constant.month[item.periodMonth] for item in billing.periodList" ng-model="billing.period" ng-click="billing.getMemberBillList(billing.period)">
                </select>
              </div>
            </div>
            <div class="col col-sm-8" ng-if="mode != 'view'">
              <a class="btn btn-default">Clear</a>
              <a class="btn btn-default">Save as Draft</a>
              <a class="btn btn-default">Save</a>

            </div>
            <div class="col col-sm-4">
              <div class="form-group">
                <label class="control-label">Cut-off Period:</label>
                <input class="form-control" type="Date" ng-model="billing.cutOff" readonly>
              </div>
            </div>
          </form>
        </div>
        <div class="row flex billing-details">
          <div class="col col-sm-4 members">
            <div class="panel panel-default members-panel">
              <div class="panel-heading">
                <form class='form-inline'>
                  <div class="form-group billing-filter">
                    <label class="control-label">Filter:</label>
                    <input type="text" class="form-control" ng-model="filterKey">
                  </div>
                </form>
              </div>
              <div class="panel-body" data-spy="scroll">
                <ul class="list-group no-padding" ui-scroll-viewport>
                  <a class="list-group-item" ng-repeat="member in filteredList track by $index" ng-click="loadMember($index)">
                    {{member.id }} - {{member.lName + ", " + member.fName | uppercase}}
                    <span class="badge">
                     {{member.remaining | currency : 'Php ' : 2}}
                    </span>
                  </a>
                </ul>
              </div>
            </div>
          </div>
          <div class="col col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Details</h4>
              </div>
              <div class="panel-body">
                <form class="form-inline">
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="id">Id:</label>
                      <input type="number" class="form-control" aria-describedby="id" readonly ng-model="selected.member.id">
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="lname">Name:</label>
                      <div class="input-group-text">
                        <input type="text" class="form-control" aria-describedby="fname" readonly ng-model="selected.member.fName">
                        <p>First Name</p>
                      </div>
                      <div class="input-group-text">
                        <input type="text" class="form-control" aria-describedby="lname" readonly ng-model="selected.member.lName">
                        <p>Last Name</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="address">Address:</label>
                      <div class="input-group">
                        <input type="text" class="form-control" aria-describedby="address" readonly ng-model="selected.member.address">
                        <span class="input-group-btn">
                           <button class="btn btn-default" type="button">View</button>
                          </span>
                      </div>
                    </div>
                  </div>
                  <label class="form-header" id="assocFee">Bill Breakdown</label>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="address">Monthly Association Dues:</label>
                      <div class="input-group">
                        <div class="input-group-addon">Php</div>
                        <input type="number" class="form-control" aria-describedby="assocFee" readonl ng-model="selected.billing.assocFee" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="presReading">Water Reading:</label>
                      <div class="input-group-text">
                        <input type="number" class="form-control" aria-describedby="prevReading" ng-readonly="billing.isDisabled" required ng-model="selected.billing.prevReading">
                        <p>Previous</p>
                      </div>
                      <div class="input-group-text">
                        <input type="number" class="form-control" aria-describedby="presReading" ng-readonly="billing.isDisabled" required ng-model="selected.billing.currReading">
                        <p>Current</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="consumption">Total Water Consumption:</label>
                      <input type="number" class="form-control" aria-describedby="consumption" readonly ng-model="selected.billing.totalConsumed">
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="breakdown">Consumption to Amount Breakdown</label>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group table">
                      <div class="row" aria-describedby="breakdown" ng-repeat="data in selected.breakdown">
                        <div class="col-sm-4">
                          {{data.description}}
                        </div>
                        <div class="col-sm-4">
                          Php {{data.amount}} cu.m
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon">Php</div>
                              <input class='form-control' type="number" ng-model="data.total" readonly>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label">Total Water Amount:</label>
                      <div class="input-group">
                        <div class="input-group-addon">Php</div>
                        <input class='form-control' type="number" readonly ng-model="selected.billing.waterAmount">
                      </div>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label">Others:</label>
                      <div class="input-group-text">
                        <div class="input-group">
                          <div class="input-group-addon">Php</div>
                          <input type="number" class="form-control" ng-disabled="billing.isDisabled" ng-model="selected.billing.otherAmount">
                        </div>
                        <p>Amount</p>
                      </div>
                      <div class="input-group-text">
                        <input type="text" class="form-control" ng-disabled="billing.isDisabled" ng-model="selected.billing.otherDescription">
                        <p>Description</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label">Current Month's Total:</label>
                      <div class="input-group">
                        <div class="input-group-addon">Php</div>
                        <input class='form-control' type="number" readonly ng-model="selected.billing.currentTotal">
                      </div>
                    </div>
                  </div>
                  <label class="form-header">Previous Month's Billing Summary</label>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="prevTotal">Previous Total</label>
                      <div class="input-group">
                        <div class="input-group-addon">Php</div>
                        <input type="number" class="form-control" aria-describedby="prevTotal" readonly ng-model="selected.billing.previousTotal">
                      </div>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="prevPayment">Previous Payment</label>
                      <div class="input-group">
                        <div class="input-group-addon">Php</div>
                        <input type="number" class="form-control" aria-describedby="prevPayment" readonly ng-model="selected.billing.previousPaymentTotal">
                      </div>
                    </div>
                  </div>
                  <div class="form-inline-group">
                    <div class="form-group">
                      <label class="control-label" id="remaining">Previous Month's Remaining Balance:</label>
                      <div class="input-group">
                        <div class="input-group-addon">Php</div>
                        <input type="number" class="form-control" aria-describedby="remaining" readonly ng-model="selected.billing.remaining">
                      </div>
                    </div>
                  </div>
                  <label class="form-header">Collection</label>
                  <div class="form-inline-group">
                    <div class="row btn-group">
                      <div class="col col-sm-12">
                        <button class="btn btn-sm btn-default" ng-click="openPaymentModal()" ng-disabled="!(selected)">Add</button>
                        <button class="btn btn-sm btn-default" ng-click="openPaymentModal()" ng-disabled="!(paymentModel.selected)">Edit</button>
                        <button class="btn btn-sm btn-default" ng-click="deletePayment()" ng-disabled="!(paymentModel.selected)">Delete</button>
                      </div>
                    </div>
                    <table class="table table-hover collections-table">
                      <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-3">Receipt Number</th>
                        <th class="col-sm-4">Date</th>
                        <!-- <th>Remarks</th> -->
                        <th class="col-sm-4">Amount</th>
                      </tr>
                      <tr ng-repeat="data in selected.payments">
                        <td>
                          <input type="radio" name="collectionRadios" ng-model="paymentModel.selected" value="{{$index}}">
                        </td>
                        <td>{{data.receiptNo}}</td>
                        <td>{{data.paymentDate | date : 'MMMM dd, yyyy'}}</td>
                        <!-- <td>{{data.remarks}}</td> -->
                        <td>{{data.amount | currency : "Php " : 2}}</td>
                      </tr>

                    </table>
                  </div>
                  <div class="form-inline-group grand-total">
                    <div class="form-group">
                      <label class="control-label" id="remaining">Collection Total:</label>
                      <div class="input-group">
                        <div class="input-group-addon">Php</div>
                        <input type="number" class="form-control" aria-describedby="remaining" readonly ng-model="computed.totalPayments">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>