<div class="billing-body well">
    <div class="row ">
        <div class="col col-sm-12">
            <div class="page-header">
                <h4>Water Billing</h4>
            </div>
        </div>
    </div>
    <form class="form-inline">
        <div class="row billing-bar">
            <div class="col col-sm-4">
                <div class="form-group">
                    <label class="control-label">Year:</label>
                    <select class="form-control">
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Month:</label>
                    <select class="form-control">
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                    </select>
                </div>
            </div>
            <div class="col col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    <label class="control-label">Cut-off Period:</label>
                    <input class="form-control" type="Date" readonly>
                </div>
            </div>
        </div>
    </form>
    <div class="row flex">
        <div class="col col-sm-4 members">
            <div class="panel panel-default members-panel">
                <div class="panel-heading">
                    <form class='form-inline'>
                        <div class="form-group billing-filter">
                            <label class="control-label">Filter:</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="panel-body" data-spy="scroll">
                    <ul class="list-group no-padding" ui-scroll-viewport>
                        <a class="list-group-item" ng-repeat="member in members track by $index" ng-click="loadMember($index)">

						{{member.id }} - {{member.name | uppercase}}
						 <span class="badge">{{member.remaining | currency : 'Php ' : 2}}</span>
					</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-sm-8">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Member Details" is-open="accordion.member" ng-init="accordion.member = true">
                    <uib-accordion-heading>
                        <div>
                            Member Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion.member, 'glyphicon-chevron-right': !accordion.member}"></i>
                        </div>
                    </uib-accordion-heading>
                    <form>
                        <div class="row">
                            <div class="col col-sm-2 members">
                                <div class="form-group">
                                    <label class="control-label" id="id">Id:</label>
                                    <input type="text" class="form-control" aria-describedby="id" readonly ng-model="selected.id">
                                </div>
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <label class="control-label" id="lname">Last Name:</label>
                                    <input type="text" class="form-control" aria-describedby="lname" readonly ng-model="selected.member.lastName">
                                </div>
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <label class="control-label" id="fname">First Name:</label>
                                    <input type="text" class="form-control" aria-describedby="fname" readonly ng-model="selected.member.firstName">
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col col-sm-12'>
                                <div class="form-group">
                                    <label class="control-label" id="address">Address:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" aria-describedby="address" readonly ng-model="selected.member.address">
                                        <span class="input-group-btn">
										<button class="btn btn-default" type="button">View</button>
									  </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div uib-accordion-group class="panel-default" heading="Billing Details" is-open="accordion.billing" ng-init="accordion.billing = false">
                    <uib-accordion-heading>
                        <div>Billing Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion.billing, 'glyphicon-chevron-right': !accordion.billing}"></i>
                            <span class="badge">{{selected.billing.grandTotal || 0 | currency : 'Php ' : 2}}</span>
                        </div>
                    </uib-accordion-heading>
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-header" id="assocFee">Association Dues</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-4 ">
                                <div class="form-group">
                                    <label class="control-label">Total:
                                    </label>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-sm-offset-4">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">Php</div>
                                        <input type="number" class="form-control" aria-describedby="assocFee" readonl ng-model="selected.billing.assocDue" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-header">Water Dues</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" id="presReading">Present Reading:</label>
                                    <input type="number" class="form-control" aria-describedby="presReading" ng-readonly="billing.isDisabled" required ng-model="selected.billing.presentReading">
                                </div>
                            </div>
                            <div class="col col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" id="prevReading">Previous Reading:</label>
                                    <input type="number" class="form-control" aria-describedby="prevReading" ng-readonly="billing.isDisabled" required ng-model="selected.billing.previousReading">
                                </div>
                            </div>
                            <div class="col col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" id="consumption">Total Consumption:</label>
                                    <input type="text" class="form-control" aria-describedby="consumption" readonly ng-model="selected.billing.totalConsumed">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=col-sm-12>
                                <div class="form-group">
                                    <label class="control-label" id="breakdown">Breakdown</label>
                                    <div class="row" aria-describedby="breakdown">
                                        <div class="col-sm-4">
                                            range
                                        </div>
                                        <div class="col-sm-4">
                                            amount
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Php</div>
                                                    <input class='form-control' type="text" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Total:</label>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-sm-offset-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Php</div>
                                        <input class='form-control' type="text" readonly ng-model="selected.billing.waterAmount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-header">Others</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-8">
                                <div class="form-group">
                                    <label class="control-label">Description:</label>
                                    <input type="text" class="form-control" ng-disabled="billing.isDisabled" ng-model="selected.billing.otherDescription">
                                </div>
                            </div>
                            <div class="col col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Php</div>
                                        <input type="number" class="form-control" ng-disabled="billing.isDisabled" ng-model="selected.billing.otherAmount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <label class="form-header">Current Month Payables</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Total:
                                    </label>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-sm-offset-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Php</div>
                                        <input type="number" class="form-control" aria-describedby="currentTotal" readonly ng-model="selected.billing.currentTotal">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-header">Previous Billing Month</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" id="prevTotal">Previous Total</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Php</div>
                                        <input type="number" class="form-control" aria-describedby="prevTotal" readonly ng-model="selected.billing.previousTotal">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" id="prevPayment">Previous Payment</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Php</div>
                                        <input type="number" class="form-control" aria-describedby="prevPayment" readonly ng-model="selected.billing.previousPayment">
                                    </div>
                                </div>
                            </div>
                            <div class='col col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label" id="remaining">Total:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Php</div>
                                        <input type="number" class="form-control" aria-describedby="remaining" readonly ng-model="computed.remaining">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col col-sm-12">
                                <div class="form-group">
                                    <label class="form-header" id="grandTotal">Grand Total</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Php</div>
                                        <input type="number" class="form-control" aria-describedby="grandTotal">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </form>
                </div>
                <div uib-accordion-group class="panel-default" heading="Collections" is-open="accordion.collections" ng-init="accordion.collections = false">
                    <uib-accordion-heading>
                        <div>
                            Collections <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion.member, 'glyphicon-chevron-right': !accordion.member}"></i><span class="badge">{{computed.totalPayments || 0 | currency : 'Php ' : 2}}</span>
                        </div>
                    </uib-accordion-heading>
                    <div class="row btn-group">
                        <div class="col col-sm-12">
                            <button class="btn btn-sm btn-default" ng-click="openPaymentModal(0)">Add</button>
                            <button class="btn btn-sm btn-default" ng-click="openPaymentModal(1)" ng-disabled="!(paymentModel.selected)">Edit</button>
                            <button class="btn btn-sm btn-default" ng-click="deletePayment()" ng-disabled="!(paymentModel.selected)">Delete</button>
                        </div>
                    </div>
                    <table class="table table-hover collections-table">
                        <tr>
                            <th class="col-sm-1"></th>
                            <th class="col-sm-3">Receipt Number</th>
                            <th class="col-sm-4">Date</th>
                            <!-- <th>Remarks</th> -->
                            <th class="col-sm-4">Amount</th>
                        </tr>
                        <tr ng-repeat="data in selected.payments">
                            <td>
                                <input type="radio" name="collectionRadios" ng-model="paymentModel.selected" value="{{$index}}">
                            </td>
                            <td>{{data.receiptNo}}</td>
                            <td>{{data.date | date : 'MMMM dd, yyyy'}}</td>
                            <!-- <td>{{data.remarks}}</td> -->
                            <td>{{data.amount | currency : "Php " : 2}}</td>
                        </tr>

                    </table>
                </div>
            </uib-accordion>

        </div>
    </div>
</div>